name: Publish

on:
  push:
    tags:
      - '*'
      - '*/**'
      - '**/**'

jobs:
  # Redundant but can't be helped AFAIK
  test-elixir-min-version:
    name: Elixir 1.6 - Only Tests

    runs-on: ubuntu-latest

    container:
      image: spaceeec/elixir:1.6-slim
    
    steps:
    - uses: actions/checkout@v1
    - name: Install Dependencies
      run: |
        mix local.rebar --force
        mix local.hex --force
        mix deps.get
    - name: Tests
      run: mix test

  test-elixir-latest:
    name: Elixir 1.9 - Full

    runs-on: ubuntu-latest

    container:
      image: spaceeec/elixir:1.9-slim

    steps:
    - uses: actions/checkout@v1
    - name: Install Dependencies
      run: |
        mix local.rebar --force
        mix local.hex --force
        mix deps.get
    - name: Formatting
      run: mix format --check-formatted
    - name: Credo
      run: mix credo --strict
    - name: Tests
      run: mix test

  release:
    name: Publish

    needs: [test-elixir-latest, test-elixir-min-version]

    runs-on: ubuntu-latest

    container:
      image: spaceeec/elixir:1.9-slim

    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
      - name: Compile
        run: mix compile
      - name: Publish
        env:
          HEX_API_KEY: wrong_key # ${{ serects.HEX_API_KEY }}
        run: mix hex.publish --yes --dry-run